<header id="header" class="header">
    <div id="header-outer" class="header-outer">
        <div class="container">
            <div class="container-inner">
                <div id="header-title" class="header-title">
                    <h1 class="logo-wrap"><a href="<%- url_for() %>" class="logo"><span class="logo-icon">JDC</span></a></h1>
                    <% if (theme.subtitle){ %>
                    <h2 class="subtitle-wrap">
                        <p class="subtitle"><%= theme.subtitle %></p>
                        <p class="subtitle-desc"><%= theme.subtitle_desc %></p>
                    </h2>
                    <% } %>
                    <div class="social-wrap">
                      <ul class="social-links">
                      <% for (var i in theme.social_links){ %>
                          <% if (theme.social_links[i]) {%>
                          <li><a class="social-tooltip" title="<%= i %>" href="<%- url_for(theme.social_links[i]) %>" target="_blank"><i class="icon fa fa-<%= i %>"></i></a></li>
                          <% } %>
                      <% } %>
                      </ul>
                    </div>
                </div>
                <div id="header-inner" class="nav-container">
                    <a id="main-nav-toggle" class="main-nav-toggle nav-icon"><i class="fa fa-bars"></i></a>
                    <div class="nav-container-inner">
                        <ul id="main-nav" class="main-nav">
                            <% for (var i in theme.menu){
                            if(i == 'Categories'){ %>
                            <%- list_categories({show_count: false, depth: 2, class: 'main-nav', style: 'list'}) %>
                            <% } else { %>
                            <li class="main-nav-list-item">
                                <a class="main-nav-list-link" href="<%- url_for(theme.menu[i]) %>">
                                    <%= __('index.' + i.toLowerCase()) %>
                                </a>
                            </li>
                            <% }} %>
                        </ul>
                        <div class="sub-nav" class="sub-nav">
                        <%- search_form({text: __('index.search')}) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
